@font-face {
  font-family: "Lucida Sans";
  src: url(./assets/fonts/LucidaSans.ttf) format("truetype");
}
@font-face {
  font-family: "PT Sans";
  src: url(./assets/fonts/ptsans/PTSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "opensans";
  src: url(./assets/fonts/open-sans/opensans.ttf) format("truetype");
}
@font-face {
  font-family: "PT Sans Narrow";
  src: url(./assets/fonts/ptsans/PTSans-Narrow.ttf) format("truetype");
}
@font-face {
    font-family: "SegoeWP-Light";
    src: url(./assets/fonts/SegoeWP-Light.ttf) format("truetype");
  }

@font-face {
    font-family: "Segoe UI";
    src: url(./assets/fonts/SegoeUI.ttf) format("truetype");
  }
  @font-face {
    font-family: "SegoeUI-Bold";
    src: url(./assets/fonts/SegoeUI-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "SegoeUI-Light";
    src: url(./assets/fonts/SegoeUI-Light.ttf) format("truetype");
  }
  @font-face {
    font-family: "Asap-Regular";
    src: url(./assets/fonts/Asap-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "LucidaSans-Italic";
    src: url(./assets/fonts/LucidaSans-Italic.ttf) format("truetype");
  }

 
.container_bg {
  display: block;
  width: 82%;
  height: 1850px;
  margin: 0 auto;
}

.zone_1 {
  display: block;
  width: 100%;
  height: 64px;
  margin: auto;
  font-size: 30px;
  position: relative;
  top: 1783px;
  background-color: #4c4c4c;
}
.zone_2 {
  display: block;
  width: 100%;
  height: 497px;
  margin: auto;
  font-size: 30px;
  position: relative;
  top: 0px;
  background-image: url(./assets/image/Layer\ 32.png);
  box-shadow: 0px -12px 8px -10px #000000 inset;
}
.zone_3 {
  display: block;
  width: 100%;
  height: 508px;
  margin: auto;
  font-size: 30px;
  position: relative;
  top: -1005px;
  background-image: url(./assets/image/Layer\ 10\ copy\ 3.png);
  box-shadow: 0px 8px 13px -13px #000000 inset;
}
.zone_4 {
  display: block;
  width: 100%;
  height: 212px;
  margin: auto;
  font-size: 30px;
  position: relative;
  top: -212px;
  background-image: url(./assets/image/Layer\ 7.png);
  opacity: 40%;
}
.zone_5 {
  display: block;
  width: 100%;
  height: -566px;
  margin: auto;
  font-size: 30px;
  position: relative;
  top: -565px;
  box-shadow: 0px -7px 5px 1px #000000 inset;
  background-image: url(./assets/image/Layer\ 20@1X.png),
    url(./assets/image/Layer\ 1.png);
  background-blend-mode: hue;
}
.bg {
  display: block;
  width: 100%;
  height: 566px;
  margin: auto;
  opacity: 00.9;
}

.container_for_footer {
  display: block;
  width: 80.5%;
  height: 62px;
  margin: 0 auto;
  position: relative;
  top: -67px;
  left: -12px;
}

.logo_footer {
  width: 57px;
  height: 57px;
  margin: auto;
}
.logo_footer_2 {
  width: 55px;
  height: 55px;
  margin: auto;
  position: absolute;
  left: 1px;
  top: 1px;
  opacity: 0.5;
}
.logo_cont {
  display: block;
  width: 78.5%;
  height: 0px;
  margin: 0 auto;
  position: absolute;
  left: 140px;
  top: 4px;
}
.footer_text {
  display: block;
  width: 235px;
  height: 29px;
  margin: auto;
  position: absolute;
  left: 21px;
  top: 15px;
  font-family: "Lucida Sans";
  font-style: italic;
  font-size: 22.04912pt;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #000000;
}
.container_for_image {
  display: block;
  width: 100%;
  height: 497px;
  margin: auto;
  font-size: 22px;
  position: relative;
  top: -497px;
}
.computer {
  display: block;
  width: 323px;
  height: 255px;
  margin: auto;
  opacity: 1.57;
  position: absolute;
  left: 158px;
  top: 137px;
}
.ellipse {
  display: block;
  width: 116px;
  height: 116px;
  margin: auto;
  position: absolute;
  left: 138px;
  top: 94px;
}
.tablet {
  display: block;
  width: 129px;
  height: 173px;
  margin: auto;
  position: absolute;
  left: 505px;
  top: 179px;
  opacity: 0.8;
}

.mobile {
  display: block;
  width: 39px;
  height: 63px;
  margin: auto;
  position: absolute;
  left: 659px;
  top: 289px;
  opacity: 0.9;
}
.zone_2_text {
  display: block;
  width: 631px;
  height: 39px;
  margin: auto;
  position: absolute;
  left: 338px;
  top: 42px;
  font-family: "PT Sans";
  font-size: 44px;
  color: #f5c506;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 400;
}

.ellipseList_1 {
  display: block;
  width: 14px;
  height: 14px;
  margin: auto;
  position: absolute;
  left: 778px;
  top: 188px;
}
.ellipseList_2 {
  display: block;
  width: 14px;
  height: 14px;
  margin: auto;
  position: absolute;
  left: 778px;
  top: 238px;
}
.ellipseList_3 {
  display: block;
  width: 14px;
  height: 14px;
  margin: auto;
  position: absolute;
  left: 778px;
  top: 304px;
}
.ellipseList_4 {
  display: block;
  width: 14px;
  height: 14px;
  margin: auto;
  position: absolute;
  left: 778px;
  top: 355px;
}
.zone_2_text2 {
  font-family: "opensans";
  font-size: 1.3rem;
  color: rgba(169, 169, 167, 255);
  text-align: justify;
  display: block;
  width: 347px;
  height: 181px;
  margin: auto;
  position: absolute;
  left: 810px;
  top: 184px;
}
.zone_2_text3 {
  font-family: "opensans";
  font-size: 1.3rem;
  color: rgba(169, 169, 167, 255);
  text-align: justify;
  display: block;
  width: 344px;
  height: 181px;
  margin: auto;
  position: absolute;
  left: 1px;
  top: 49px;
  line-height: 1.2;
}
.zone_2_text4 {
  font-family: "opensans";
  font-size: 1.3rem;
  color: rgba(169, 169, 167, 255);
  text-align: justify;
  display: block;
  width: 344px;
  height: 181px;
  margin: auto;
  position: absolute;
  left: 1px;
  top: 164px;
  line-height: 1.2;
}
.zone_2_text5 {
  font-family: "opensans";
  font-size: 1.3rem;
  color: rgba(169, 169, 167, 255);
  text-align: justify;
  display: block;
  width: 343px;
  height: 57px;
  margin: auto;
  position: absolute;
  left: 0px;
  top: 115px;
}
.zone_2_text6 {
  font-size: 19px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  width: 139px;
  height: 60px;
  left: -664px;
  top: -39px;
  margin: auto;
  position: absolute;
  text-transform: uppercase;
}
.heder {
  display: block;
  font-size: 19px;
  width: 1310px;
  height: 121px;
  left: 0px;
  top: -1px;
  margin: auto;
  position: absolute;
}

.image_zone3 {
  display: block;
  width: 923px;
  height: 140px;
  margin: auto;
  position: absolute;
  left: 0px;
  top: 368px;
}

.rounded_rectangle {
  display: block;
  width: 97%;
  height: 15px;
  margin: auto;
  position: absolute;
  left: 215px;
  top: 104px;
}
.rounded_rectangle1 {
  display: block;
  width: 21%;
  height: 15px;
  margin: auto;
  position: absolute;
  left: 461px;
  top: 104px;
}
.section_zone3 {
    display: block;
    width: 100%;
    height: 444px;
    margin: auto;
    position: absolute;
    left: 0px;
    top: 2px;
}

.layer22 {
    display: block;
    width: 26.5%;
    height: 233px;
    margin: auto;
    position: absolute;
    left: 139px;
    top: 107px;
}
.layer22_calendar {
    display: block;
    width: 8.5%;
    height: 86px;
    margin: auto;
    position: absolute;
    left: 139px;
    top: 340px;
}
.Layer22_bg_twitter {
    display: block;
    width: 25.3%;
    height: 233px;
    margin: auto;
    position: absolute;
    left: 829px;
    top: 108px;
}
.Layer22_twitter {
    display: block;
    width: 12.5%;
    height: 134px;
    margin: auto;
    position: absolute;
    left: 910px;
    top: 167px;
}
.text_main_zone {
    display: block;
    width: 24.3%;
    height: 218px;
    margin: auto;
    position: absolute;
    left: 168px;
    top: 123px;
    font-size: 20.9912pt;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "SegoeWP-Light";
    font-weight: 300;
}
.text_elements {
  display: block;
  width: 24.3%;
  height: 225px;
  font-size: 17pt;
  letter-spacing: 1px;
  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe UI";
  position: absolute;
  text-align: right;
  left: 827px;
  top: 116px;
  font-weight: normal;

}
.number25 {
  display: block;
    width: 7.3%;
    height: 46px;
    font-size: 51px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-family: "SegoeUI-Bold";
    font-weight: bold;
    position: absolute;
    text-align: center;
    left: 148px;
    top: 354px;
    font-weight: normal;
}

.textAPRIL {
  display: block;
  width: 7.3%;
  height: 46px;
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #b26529;
  font-family: "Segoe UI";
  left: 148px;
  top: 390px;
  position: absolute;
  text-align: center;
}

.plus_image {
  display: block;
    width: 11px;
    height: 11px;
    margin: auto;
    position: absolute;
    left: 1137px;
    top: 318px;
    color: #ffffff;
}

.plus_image_1 {
  display: block;
    width: 11px;
    height: 11px;
    margin: auto;
    position: absolute;
    left: 454px;
    top: 318px;
    color: #ffffff;
}

.zone_header {
  display: block;
  width: 918px;
  height: 130px;
  margin: auto;
  position: absolute;
  left: 140px;
  top: 33px;
  font-size: 37px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #ffffff;
  font-family: "PT Sans";
  font-weight: 400; 
  text-transform: uppercase;
}
.video_main {
  display: block;
  width: 24%;
  height: 232px;
  margin: auto;
  position: absolute;
  left: 483px;
  top: 108px;
}

.video_img {
  display: block;
    width: 12%;
    height: 96px;
    margin: auto;
    position: absolute;
    left: 557px;
    top: 191px;
}

.play_1 {
  display: block;
    width: 61px;
    height: 61px;
    margin: auto;
    position: absolute;
    left: 53px;
    top: 12px;
}

.play_2 {
  display: block;
    width: 17px;
    height: 31px;
    margin: auto;
    position: absolute;
    left: 77px;
    top: 26px;
}

.separator_1 {
    display: block;
    width: 1px;
    height: 213px;
    margin: auto;
    position: absolute;
    left: 139px;
    top: 0px;
}
.separator_2 {
  display: block;
  width: 1px;
  height: 213px;
  margin: auto;
  position: absolute;
  left: 480px;
  top: 0px;
}
.separator_3 {
  display: block;
  width: 1px;
  height: 213px;
  margin: auto;
  position: absolute;
  left: 819px;
  top: 0px;
}
.separator_4 {
  display: block;
  width: 1px;
  height: 213px;
  margin: auto;
  position: absolute;
  left: 1159px;
  top: 0px;
}
.button_1 {
  display: block;
    width: 343px;
    height: 212px;
    margin: auto;
    position: absolute;
    left: 138px;
    top: 0px;
} 
.button_2 {
  display: block;
    width: 340px;
    height: 212px;
    margin: auto;
    position: absolute;
    left: 480px;
    top: 0px; 
}
.button_3 {
  display: block;
    width: 341px;
    height: 212px;
    margin: auto;
    position: absolute;
    left: 819px;
    top: 0px;
}
.button1 { 
  width: 109px;
  height: 74px;
  margin: auto;
  position: absolute;
  left: 115px;
  top: 60px;
}
.button2 {
  width: 95px;
  height: 99px;
  margin: auto;
  position: absolute;
  left: 131px;
  top: 35px;
}
.button3 {
  width: 82px;
  height: 84px;
  margin: auto;
  position: absolute;
  left: 119px;
  top: 53px;
}
.text_button_1 {
font-size: 27px;
letter-spacing: 0px;
color: #000000;
font-family: "SegoeUI-Light";
font-weight: 300;
text-align: center;
text-transform: uppercase;
margin: auto;
position: absolute;
left: 91px;
top: 149px;
}
.text_button_2 {
  font-size: 27px;
  letter-spacing: 0px;
  color: #000000;
  font-family: "SegoeUI-Light";
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  position: absolute;
  left: 111px;
  top: 149px;
  }
  .text_button_3 {
    font-size: 27px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "SegoeUI-Light";
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    position: absolute;
    left: 115px;
    top: 149px;
    }
    .main_text {
      display: block;
      width: 32%;
      height: 50%;
      margin: auto;
      position: absolute;
      left: 730px;
      top: 242px;
      font-size: 63px;
      letter-spacing: 1px;
      color: #f5c506;
      font-family: "Asap-Regular";
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      line-height: 118%
    }
    .colortext {
      color: #ffffff;
      position: relative;
 left: 9px;
    }
    .video_player {
      display: block;
      width: 42.2%;
      height: 327px;
      margin: auto;
      position: absolute;
      left: 150px;
      top: 167px;
    }
    .birds {
      display: block;
      width: 100%;
      height: 327px;
      margin: auto;
      position: absolute;
      left: 0px;
      top: 0px;
    }
    .birds_bg {
      display: block;
      width: 100%;
      height: 327px;
      margin: auto;
      position: absolute;
      left: 0px;
      top: 0px;
    }
    .video_birds {
      display: block;
      width: 100%;
      height: 327px;
      margin: auto;
      position: absolute;
      left: 0px;
      top: 0px;
    }
    .rounded_rectangle_1x1 {
      display: block;
      width: 73.3%;
      height: 12px;
      margin: auto;
      position: absolute;
      left: 80px;
      top: 286px;
      opacity: 1;
    }
    .rounded_rectangle_1x2 {
      display: block;
      width: 32%;
      height: 12px;
      margin: auto;
      position: absolute;
      left: 81px;
      top: 286px;
     
    }
    .sound {
      display: block;
      width: 2.5%;
      height: 15px;
      margin: auto;
      position: absolute;
      left: 515px;
      top: 285px;
    }
    .play_button {
      display: block;
      width: 5%;
      height: 27px;
      margin: auto;
      position: absolute;
      left: 29px;
      top: 278px;
    }
    .play_button_1 {
      display: block;
      width: 2%;
      height: 17px;
      margin: auto;
      position: absolute;
      left: 39px;
      top: 283px;
    
    }
    .play_button_2 {
      display: block;
      width: 12.2%;
      height: 67px;
      margin: auto;
      position: absolute;
      left: 241px;
      top: 130px;
    
    }
    .play_button_3 {
      display: block;
      width: 3.3%;
      height: 34px;
      margin: auto;
      position: absolute;
      left: 268px;
      top: 147px;
    
    }

    .logo_heder {
      display: block;
      width: 99%;
      height: 115px;
      margin: auto;
      position: absolute;
      left: 142px;
      z-index: 10;
      top: 2px;
    }
    .logo_heder_1 {
      display: block;
      width: 79px;
      height: 79px;
      margin: auto;
      position: absolute;
      left: 142px;
      top: 29px;
      opacity: 0.5;
    }
    .logo_heder_2 {
      display: block;
      width: 83px;
      height: 83px;
      margin: auto;
      position: absolute;
      left: 140px;
      top: 28px;
    }
    .logo_text_heder{
      display: block;
      width: 225px;
      height: 30px;
      margin: auto;
      position: absolute;
      left: 226px;
      top: 50px;
      font-size: 30.04912pt;
      letter-spacing: 1px;
      color: rgba(255, 255, 255, 255);
      font-family: "LucidaSans-Italic";
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      line-height: 118%
    }
    .nav_heder {
      display: block;
      width: 35.1%;
      height: 58px;
      margin: auto;
      position: absolute;
      z-index: 12;
      left: 842px;
      top: 63px;
      
    }
    .bg_nav_heder {
      display: block;
      width: 453px;
      height: 41px;
      margin: auto;
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0.5;
    }
    .bg_nav_heder_1 {
      display: block;
      width: 453px;
      height: 41px;
      margin: auto;
      position: absolute;
      left: 4px;
      top: 3px;
      opacity: 0.8;
    }
    .bg_nav_heder_2 {
      display: block;
      width: 453px;
      height: 41px;
      margin: auto;
      position: absolute;
      left: 8px;
      top: 8px;
    }
    .bg_nav_heder_3 {
      display: block;
      width: 1px;
      height: 40px;
      margin: auto;
      position: absolute;
      left: 180px;
      top: 8px;
    }
    .bg_nav_heder_4 {
      display: block;
      width: 1px;
      height: 40px;
      margin: auto;
      position: absolute;
      left: 313px;
      top: 8px;
    }
    .logo_nav_heder {
      display: block;
      width: 21px;
      height: 19px;
      margin: auto;
      position: absolute;
      left: 47px;
      top: 19px;
    }
    .logo_nav_heder_1 {
      display: block;
      width: 19px;
      height: 19px;
      margin: auto;
      position: absolute;
      left: 195px;
      top: 19px;
    }
    .logo_nav_heder_2 {
      display: block;
      width: 24px;
      height: 18px;
      margin: auto;
      position: absolute;
      left: 331px;
      top: 19px;
    }
    .text_nav_heder {
      display: block;
      width: 81px;
      height: 14px;
      margin: auto;
      position: absolute;
      left: 77px;
      top: 20px;
      font-size: 12.04912pt;
      letter-spacing: 1px;
      color: rgba(155, 125, 8, 255);
      font-family: "SegoeUI-Light";
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      line-height: 118%
    }
    .text_nav_heder_1 {
      display: block;
      width: 81px;
      height: 14px;
      margin: auto;
      position: absolute;
      left: 218px;
      top: 20px;
      font-size: 12.04912pt;
      letter-spacing: 1px;
      color: rgba(155, 125, 8, 255);
      font-family: "SegoeUI-Light";
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      line-height: 118%
    }
    .text_nav_heder_2 {
      display: block;
      width: 81px;
      height: 14px;
      margin: auto;
      position: absolute;
      left: 359px;
      top: 20px;
      font-size: 12.04912pt;
      letter-spacing: 1px;
      color: rgba(155, 125, 8, 255);
      font-family: "SegoeUI-Light";
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      line-height: 118%
      
    }
    .nav_left {
      display: block;
      width: 32px;
      height: 57px;
      margin: auto;
      position: absolute;
      z-index: 15;
      left: 0px;
      top: 300px;
    }
    .nav_right {
      display: block;
      width: 32px;
      height: 57px;
      margin: auto;
      position: absolute;
      z-index: 15;
      left: 1267px;
      top: 300px;
    }
    .nav_left_1 {
      display: block;
      width: 13px;
      height: 19px;
      margin: auto;
      position: absolute;
      z-index: 15;
      left: 8px;
      top: 319px;
    }
    .nav_right_1 {
      display: block;
      width: 13px;
      height: 19px;
      margin: auto;
      position: absolute;
      z-index: 15;
      left: 1279px;
      top: 318px;
    }
                                              /* HOVER                                                           */
     .nav_left_1:hover {
      display: block;
      width: 15px;
      height: 21px;
      margin: auto;
      position: absolute;
      z-index: 15;
      left: 1px;
      top: 319px;
    }
    .nav_right_1:hover {
      display: block;
      width: 15px;
      height: 21px;
      margin: auto;
      position: absolute;
      z-index: 15;
      left: 1289px;
      top: 318px;
    }                                         
    .text_nav_heder:hover {
      display: block;
      width: 101px;
      height: 24px;
      margin: auto;
      position: absolute;
      left: 77px;
      top: 20px;
      font-size: 13.04912pt;
      letter-spacing:1px;
      color:red;
      font-family: "SegoeUI-Light";
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      line-height: 118%;
      text-shadow: 1px 2px 0px #000000;

    }
    .text_nav_heder_1:hover  {
      display: block;
      width: 101px;
      height: 24px;
      margin: auto;
      position: absolute;
      left: 218px;
      top: 20px;
      font-size: 13.04912pt;
      letter-spacing: 1px;
      color:red;
      font-family: "SegoeUI-Light";
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      line-height: 118% ;
      text-shadow: 1px 2px 0px #000000;

    }
    .text_nav_heder_2:hover  {
      display: block;
      width: 101px;
      height: 24px;
      margin: auto;
      position: absolute;
      left: 359px;
      top: 20px;
      font-size: 13.04912pt;
      letter-spacing: 1px;
      color:red;
      font-family: "SegoeUI-Light";
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      line-height: 118%;
      text-shadow: 1px 2px 0px #000000;
    }
    .button1:hover { 
      width: 109px;
      height: 74px;
      margin: auto;
      position: absolute;
      left: 115px;
      top: 60px;
      border: 2px double red;
    }
    .button2:hover {
      width: 95px;
      height: 99px;
      margin: auto;
      position: absolute;
      left: 131px;
      top: 35px;
      border: 2px double red;

    }
    .button3:hover {
      width: 82px;
      height: 84px;
      margin: auto;
      position: absolute;
      left: 119px;
      top: 53px;
      border: 2px double red;

    }
    .plus_image:hover {
      display: block;
        width: 25px;
        height: 25px;
        margin: auto;
        position: absolute;
        left: 1137px;
        top: 318px;
    
    }
    
    .plus_image_1:hover {
      display: block;
        width: 25px;
        height: 25px;
        margin: auto;
        position: absolute;
        left: 454px;
    }
    .rounded_rectangle1:hover {
      display: block;
      width: 23%;
      height: 15px;
      margin: auto;
      position: absolute;
      left: 471px;
      top: 104px;
      
    }